{% extends "admin/base_site.html" %}
{% load i18n staticfiles %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static settings.MEZZANINE_ADMIN_PREFIX|add:"css/login.css" %}">
{{ block.super }}
<link rel="stylesheet" href="{% static "mezzanine/chosen/chosen.css" %}">
<script src="{% static "mezzanine/chosen/chosen-0.9.12.jquery.js" %}"></script>
<script> jQuery(function($) {$('select').chosen();}); </script>
{% endblock %}

{% block bodyclass %}login{% endblock %}
{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">{{ error }}</p>
{% endfor %}
{% endif %}
{% if no_site_permission %}
<p class="errornote">{% trans "You don't have permission to access the admin for this site." %}</p>
{% endif %}
<style type="text/css">
    .login #content-main, .login .submit-row {
        padding: 30px;
        width: 600px;
    }
    .captcha {
        /*border: ridge 1px red !important;*/
        text-align: left;
        width: 80px;
    }
    #id_captcha_1 {
        /*border: ridge 1px blue !important;*/
        margin-top: -15px;
        /*display: inline;*/
        /*text-align: left;*/
        width: 190px;
    }
    .container-captcha {
        /*border: ridge 1px green !important;*/
        height: 50px;
        width: 650px;
        height: 50px;
        margin-left: -10px;
    }
    .form_captcha {
        /*border: ridge 1px blue !important;*/
        width: 480px;
        margin-left: 50px;
    }
    .entrar {
        /*border: ridge 1px red;*/
        margin-top: -30px !important;
    }
</style>
<script type="text/javascript">
/*
* Función que recarga la imagen del captcha
*/
$(document).ready(function() {
    $('.js-captcha-refresh').click(function() {
        alert("xxxxx");
        //location.reload();
    });
});
</script>
<div align="center">
    <form action="{{ app_path }}" method="post" id="login-form">
        {% csrf_token %}
        <div id="content-main">
            <div class="form-row">
                <label for="id_username" class="required">Usuario</label>
                <input type="text" required name="username" id="id_username" value="{{ request.POST.username }}">
            </div>
            <div class="form-row">
                <label for="id_password" class="required">{% trans 'Password:' %}</label>
                <input type="password" required  name="password" id="id_password">
                <input type="hidden" name="this_is_the_login_form" value="1" />
            </div>
            <div class="container-captcha">
                <div class="form-row">
                    <label class="required">Captcha:</label>
                    <div class="form_captcha">
                        {{ form.captcha }}
                        <a href="" class="js-captcha-refresh">Refrescar</a><br />
                    </div>
                </div>
            </div>
            {% if settings.USE_L10N and LANGUAGES|length > 1 %}
            {% get_language_info_list for LANGUAGES as languages %}
            <div class="form-row">
                <label for="id_language" class="required">{% trans "Language" %}:</label>
                <select id="id_language" onchange="window.location.href=this.value;">
                    {% for lang in languages %}
                    {% language lang.code %}
                    <option{% if LANGUAGE_CODE == lang.code %} selected="selected"{% endif %} value="{% url 'admin:index' %}">{{ lang.name_local }}</option>
                    {% endlanguage %}
                    {% endfor %}
                </select>
            </div>
            {% endif %}
        </div>
        <div align="center" class="entrar">
            <div class="submit-row">
                <label>&nbsp;</label><input type="submit" value="Entrar" />
            </div>
        </div>
        <!--p id="forgot-password">
            <a href="{#% url "password_reset" %}">{% trans "Forgot password?" %#}</a>
        </p-->
    </form>
</div>

{% endblock %}
