<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
  <link rel="shortcut icon" href="{{STATIC_URL}}media/imagenes/ico.ico">

  {% ifinstalled mezzanine.blog %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
  {% endifinstalled %}

  {% compress css %}
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
  <link rel="stylesheet" href="{% static "Font-Awesome/css/font-awesome.min.css" %}">
  <link href="{{STATIC_URL}}css/theme.css" rel="stylesheet">

  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
  {% endif %}
  {% ifinstalled cartridge.shop %}
  <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
  {% endif %}
  {% endifinstalled %}
  {% block extra_css %}{% endblock %}
  {% endcompress %}

  {% compress js %}
  <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  <script src="{% static "js/bootstrap-extras.js" %}"></script>
  {% block extra_js %}
  <!-- slick
  ================================================== -->
  <!--link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/slick/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/slick/slick/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/slick/style.css">
  <script src="{{STATIC_URL}}js/slick/slick/slick.js" type="text/javascript" charset="utf-8"></script-->
  {% endblock %}
  {% endcompress %}

  {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

  {% include "includes/redes_sociales.html" %}

  {% include "includes/navbar_cintillo.html" %}

  <div class="container theme-showcase" role="main">

    {% include "includes/cabecera.html" %}

    <!-- navbar menu
    ================================================== -->
    <nav class="navbar navbar-default navbar-menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--a class="navbar-brand" href="#">Project name</a-->
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="font-navbar-menu" href="/">Inicio</a></li>
            <li><a class="font-navbar-menu" href="/conoce-la-fundaci%C3%B3n-cenditel/">Cenditel</a></li>
            <li class="dropdown">
              <a class="font-navbar-menu" href="http://www.cenditel.gob.ve/RedesyProyectos" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proyectos <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="font-navbar-menu" href="http://apropiacion.cenditel.gob.ve/" target="_blank">Apropiación</a></li>
                <li><a class="font-navbar-menu" href="http://safo.cenditel.gob.ve/" target="_blank">Safo</a></li>
                <li><a class="font-navbar-menu" href="http://caribay.cenditel.gob.ve/" target="_blank">Canaima - Caribay TDA</a></li>
                <li><a class="font-navbar-menu" href="http://bicentenario.cenditel.gob.ve/" target="_blank">Canaima Bicentenario</a></li>
                <li><a class="font-navbar-menu" href="http://conocimientolibre.cenditel.gob.ve/" target="_blank">Conocimiento Libre</a></li>
                <li><a class="font-navbar-menu" href="http://convite.cenditel.gob.ve/" target="_blank">Convite</a></li>
                <li><a class="font-navbar-menu" href="http://cumaco.cenditel.gob.ve/" target="_blank">Cumaco - TDA</a></li>
                <li><a class="font-navbar-menu" href="http://hapa.cenditel.gob.ve/" target="_blank">HAPA</a></li>
                <li><a class="font-navbar-menu" href="http://hl.cenditel.gob.ve/" target="_blank">Hardware Libre</a></li>
                <li><a class="font-navbar-menu" href="https://mpv.cenditel.gob.ve/" target="_blank">Mapa Productivo</a></li>
                <li><a class="font-navbar-menu" href="http://mayaguaray.cenditel.gob.ve/" target="_blank">Mayaguaray</a></li>
                <li><a class="font-navbar-menu" href="http://planificacion.cenditel.gob.ve/" target="_blank">Planificación Estratégica</a></li>
                <li><a class="font-navbar-menu" href="https://redpatria.cenditel.gob.ve/" target="_blank">Red Patria</a></li>
                <li><a class="font-navbar-menu" href="http://seguridad.cenditel.gob.ve/" target="_blank">Tibisay Seguridad</a></li>
                <li><a class="font-navbar-menu" href="http://yojama.cenditel.gob.ve/" target="_blank">Yojama</a></li>
                <li><a class="font-navbar-menu" href="/otros-proyectos/">Otros Proyectos</a></li>
              </ul>
            </li>
            <li><a class="font-navbar-menu" href="/publicaciones">Publicaciones</a></li>
            <li><a class="font-navbar-menu" href="/contactos_cenditel">Contactos</a></li>
            <li><a class="font-navbar-menu" href="http://wiki.cenditel.gob.ve/wiki/">Wiki</a></li>
            <li>
              <a class="font-navbar-menu" href="/gestion-financiera/">
                Cuentas Claras
              </a>
            </li>
            <li>
              <a class="font-navbar-menu" href="http://apropiacion.cenditel.gob.ve/sacializacion-oac-cenditel-2016/">
                Atención al Ciudadano
              </a>
            </li>
            <li>
              <a class="font-navbar-menu" href="/contrataciones">
                Contrataciones
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar menu end -->

    {% block carousel %}
    {% endblock %}

    <br />

    <!-- Block mezzanine base
    ================================================== -->
    <div class="well body_mezzaninee">
      {% block main %}{% endblock %}
        <div align="right">
          {% block right_panel %}
          {% endblock %}
        </div>
    </div>
    <!-- Block mezzanine base end -->

    <!-- navbar menu 2
    ================================================== -->
    <nav class="navbar navbar-default navbar-menu2">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--a class="navbar-brand" href="#">Project name</a-->
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="font-navbar-menu" href="http://www.cenditel.gob.ve/user/login">Intranet</a></li>
            <li><a class="font-navbar-menu" href="https://mail.cenditel.gob.ve/" target="_blank">Correo</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar menu 2 end -->

    <br />

    {% include "includes/enlaces_footer.html" %}

    {% include "includes/footer.html" %}

  </div>
  <!-- Container end -->

  <!--footer>
    <div class="container">
      {% page_menu "pages/menus/footer.html" %}
      <div class="row">
        <p class="site-info text-center">
          {% trans "Powered by" %}
          <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
          <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
          {% trans "and" %}
          <a href="http://www.djangoproject.com">Django</a>
          <span class="separator">|</span>
          {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
          {% ifinstalled mezzanine.mobile %}
          <span class="separator">|</span>
          <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
          {% endifinstalled %}
        </p>
      </div>
    </div>
  </footer-->

{% block footer_js %}
{% include "includes/footer_scripts.html" %}
{% endblock %}


<script type="text/javascript">

$("document").ready(function () {
  /**
  * Función que hace desaparecer el .navbar-cintillo al hacer scroll
  */
  $(function () {
    $(window).scroll(function () {
      // set distance user needs to scroll before we start fadeIn
      if ($(this).scrollTop() > 100) {
        $('.navbar-cintillo').fadeOut("slow");
      } else {
        $('.navbar-cintillo').fadeIn("slow");
      }
    });
  });
  $( ".show_dosmilquince" ).click(function() {
    $( ".dosmilquince" ).toggle( "slow" );
  });

  $( ".show_dosmilcatorce" ).click(function() {
    $( ".dosmilcatorce" ).toggle( "slow" );
  });

  $( ".show_dosmiltrece" ).click(function() {
    $( ".dosmiltrece" ).toggle( "slow" );
  });

  $( ".show_dosmildoce" ).click(function() {
    $( ".dosmildoce" ).toggle( "slow" );
  });

  $( ".show_dosmilonce" ).click(function() {
    $( ".dosmilonce" ).toggle( "slow" );
  });

  $( ".show_dosmildiez" ).click(function() {
    $( ".dosmildiez" ).toggle( "slow" );
  });

  $( ".show_dosmilnueve" ).click(function() {
    $( ".dosmilnueve" ).toggle( "slow" );
  });

  $( ".show_dosmilocho" ).click(function() {
    $( ".dosmilocho" ).toggle( "slow" );
  });

  $( ".show_dosmilsiete" ).click(function() {
    $( ".dosmilsiete" ).toggle( "slow" );
  });

  $( ".show_dosmilseis" ).click(function() {
    $( ".dosmilseis" ).toggle( "slow" );
  });

  $( ".show_dosmilcinco" ).click(function() {
    $( ".dosmilcinco" ).toggle( "slow" );
  });

  $( ".show_dosmilcuatro" ).click(function() {
    $( ".dosmilcuatro" ).toggle( "slow" );
  });

  $( ".show_milnovecientossetentayuno" ).click(function() {
    $( ".milnovecientossetentayuno" ).toggle( "slow" );
  });

  $( ".show_milnovecientossesentaydos" ).click(function() {
    $( ".milnovecientossesentaydos" ).toggle( "slow" );
  });  
});
</script>
<script type="text/javascript">
  $(document).ready(function() {
    /**
    * Función que hace aparecer/desaparecer el boton subir de ir arriba al hacer scroll
    * Show or hide the sticky footer button
    */
    $(window).scroll(function() {
      if ($(this).scrollTop() > 200) {
        $('.go-top').fadeIn(200);
      } else {
        $('.go-top').fadeOut(200);
      }
    });
    // Animate the scroll to top
    $('.go-top').click(function(event) {
      event.preventDefault();
      $('html, body').animate({scrollTop: 0}, 300);
    })
  });
</script>
</body>
</html>
