{% extends "base.html" %}

{% load i18n mezzanine_tags %}

{% block meta_title %}{% trans "Search Results" %}{% endblock %}
{% block title %}{% trans "Search Results" %}{% endblock %}
{% block extra_head %}
<meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="{% url "home" %}">{% trans "Home" %}</a>
</li>
<li class="active">{% trans "Search Results" %}</li>
{% endblock %}

{% block main %}

<div class="cuerpo_interno">

<b>
{% if results.paginator.count == 0 %}
{% blocktrans %}
No results were found in {{ search_type }} matching your query: {{ query }}
{% endblocktrans %}
{% else %}
{% blocktrans with start=results.start_index end=results.end_index total=results.paginator.count %}
Showing {{ start }} to {{ end }} of {{ total }} results in {{ search_type }} matching your query: {{ query }}
{% endblocktrans %}
{% endif %}
</b>

<div id="search-results">
  <div class="panel-body">
    {% block navbar_search_form %}{% search_form "all" %}{% endblock %}
  </div>

  {% for result in results.object_list %}
  {% with result.get_absolute_url as result_url %}
      <h5>
          {{ forloop.counter0|add:results.start_index }})
          {% if result_url %}
              <a href="{{ result_url }}">{{ result }}</a>
          {% else %}
              {{ result }}
          {% endif %}
      </h5>
      {% if result.description != result|stringformat:"s" %}
          <p>{{ result.description|truncatewords_html:20|safe }}</p>
      {% endif %}
      {% if result_url %}
          <a href="{{ result_url }}">
              <span class="glyphicon glyphicon-chevron-right"></span>
              {% trans "read more" %}
              <hr />
          </a>
      {% endif %}
  {% endwith %}
  {% endfor %}
</div>

{% pagination_for results %}

</div>

{% endblock %}


