body {
  padding-top: 70px;
  padding-bottom: 30px;
  /*#d11e22*/
  /*background-color: #ffffff;*/
  background-color: #FAFAFA;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, #d11e22 0%, #d11e22 100%);
    -webkit-box-shadow: inset 0px 1px 15px -9px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 1px 15px -9px rgba(0,0,0,1);
    box-shadow: inset 0px 1px 15px -9px rgba(0,0,0,1);
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
  padding: 10px;
}

.container {
    /*border: ridge 1px black; */
}

.navbar-cintillo {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.navbar-default {
    background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
    background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.cabecera_cenditel {
    /*border: ridge 1px red;*/
    background-color: #FFFFFF;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: ridge 1px #f0f0f0;*/
}

.imagen_cabecera_cenditel {
    /*border: ridge 1px red;*/
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.titulo_cabecera {
    /*border: ridge 1px red;*/
    text-align: left;
    width: 80%;
    float: right;
    height: 107px;
    max-height: 107px;
    padding-left: 20px;
}

.buscador {
    padding: 12px;
    border-color: red;
    border-radius: 5px;
}

.glyphicon-search {
    background-color: #d11e22;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    color: #FFFFFF;
}

.glyphicon-search:hover {
    color: #000000;
    background-color: #d8d8d8;
}

.boton_search {
    border: none;
    -webkit-box-shadow: inset 0px 1px 12px -9px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 1px 12px -9px rgba(0,0,0,1);
    box-shadow: inset 0px 1px 12px -9px rgba(0,0,0,1);
    margin-right: 15px;
}

.navbar-menu {
  background-color: #FCFCFC;
  border: ridge 1px #f0f0f0;
  margin-bottom: 10px;
  font-size: 15px;
  margin-bottom: -10px;
}

.navbar-menu2 {
  background-color: red !important;
  /*border: ridge 1px red;*/
  margin-bottom: -10px !important;
  font-size: 15px;
  margin-bottom: 0px;
  background-image: -webkit-linear-gradient(top, #fff 0%, red 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.navbar-default .navbar-nav > li > a {
    color: #d11e22;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FFFFFF;
      background-color: #d11e22;
      border-radius: 5px;
      -webkit-box-shadow: inset 0px 1px 15px -9px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 1px 15px -9px rgba(0,0,0,1);
    box-shadow: inset 0px 1px 15px -9px rgba(0,0,0,1);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
      background-color: #d11e22;
      border-radius: 5px;
}

.menu_2 {
    /*border: ridge 1px red;*/
    width: 100%;
    margin-bottom: 15px;
    height: 25px;
    text-align: right;
}

.boton_menu_2 {
    width: 200px;
    height: 100px;
    color: #d11e22;
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    border: ridge 1px #f0c9c9;
    padding: 10px;
    /*
    -webkit-box-shadow: inset 0px 1px 15px -9px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 1px 15px -9px rgba(0,0,0,1);
    box-shadow: inset 0px 1px 15px -9px rgba(0,0,0,1);
    */
}

.boton_menu_2:hover {
    width: 200px;
    height: 100px;
    color: #FFFFFF;
    background-color: #d11e22;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    -webkit-box-shadow: inset 0px 1px 15px -9px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 1px 15px -9px rgba(0,0,0,1);
    box-shadow: inset 0px 1px 15px -9px rgba(0,0,0,1);
}

a {
    text-decoration: none !important;
    color: #d11e22;
}

.panell.panell-danger {
    background-color: #d11e22 !important;
}

.panel-danger > .panel-heading {
    /*background-color: #d11e22 !important;*/
    color: #FFFFFF;
}

.panel-danger > .panel-heading {
    background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
    background-image: -o-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#ebcccc));
    background-image: linear-gradient(to bottom, #f2dede 0%, #d11e22 10%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
    background-repeat: repeat-x;
}

.panel-danger-contenidos-digitales {
    margin-bottom: 32px;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0.0) 0,rgba(0,0,0,0.0) 100%) !important;
    background-image: -o-linear-gradient(left,rgba(0,0,0,0.0) 0,rgba(0,0,0,0.0) 100%) !important;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0.0)),to(rgba(0,0,0,0.0))) !important;
    background-image: linear-gradient(to right,rgba(0,0,0,0.0) 0,rgba(0,0,0,0.0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0,0,0,0.0)', endColorstr='rgba(0,0,0,0.0)', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0.0) 0,rgba(0,0,0,0.0) 100%) !important;
    background-image: -o-linear-gradient(left,rgba(0,0,0,0.0) 0,rgba(0,0,0,0.0) 100%) !important;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0.0)),to(rgba(0,0,0,0.0))) !important;
    background-image: linear-gradient(to right,rgba(0,0,0,0.0) 0,rgba(0,0,0,0.0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0,0,0,0.0)', endColorstr='rgba(0,0,0,0.0)', GradientType=1);
    background-repeat: repeat-x;
}

.carousel_cuerpo {
    /*border: ridge 1px lightgray;*/
    width: 100%;
    background-color: #FFFFFF;
    /*border-radius: 5px;*/
}

.carousel_principal_cuerpo {
    border: ridge 1px lightgray;
    width: 100%;
    background-color: #FFFFFF;
    /*border-radius: 5px;*/
}

.carousel_container {
    /*border: ridge 2px green;*/
    /*width: 70%*/
}

.carousel-indicators .active {
    background-color: #d11e22;
    border-color: #FFFFFF;
}

.jumbotron.container-panels {
    border: ridge 1px red;
    padding: 20px;
    background-color: #FCFCFC;
    border: ridge 1px #f0f0f0;
    margin-bottom: 10px;
}

.carousel_blogs {
    background-color: #f6f6f6;
    /*border: ridge 1px #f0f0f0;*/
    /*border: ridge 1px red;*/
    padding: 0px;
    margin-top: 0px;
}

.texto_carousel {
    color: #d11e22;
}

.enlaces_interes {
    background-color: #FFFFFF;
    border: ridge 1px #ededed;
    padding: 20px;
    margin-top: 15px;
}

.titulo_enlaces_interes {
    border: ridge 1px;
    width: 78%;
    float: right;
    padding: 15px;
    height: 135px;
}

.logo_gobierno {
    /*border: ridge 1px;*/
}

table.tabla_enlaces_interes td {
    padding: 2px;

}

table.tabla_enlaces_interes {
    width:100%;
    text-align:center;
    float: left;
}

/*
.redes_sociales {
    border: ridge 1px red;
    width: 15%;
    float: right;
}
*/

.list-group-item {
    padding: 20px;
}

.list-group-item:hover {
    background-color: #FAFAFA !important;
    /*-webkit-box-shadow: inset 0px 1px 12px -9px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 1px 12px -9px rgba(0,0,0,1);
    box-shadow: inset 0px 1px 12px -9px rgba(0,0,0,1);*/
}

.glyphicon-chevron-right {
    color: #d11e22;
    /*background-color: #d11e22;
    border-radius: 50px;*/
}

.glyphicon-chevron-left {
    color: #d11e22;
    /*4background-color: #d11e22;
    border-radius: 50px;*/
}

.twitter_cenditel {
    height: 300px;
}

.cuerpo_timeline_twitter{
    /*border: ridge 1px red;*/
}


.well {
    background: #ffffff;
    /*background-color: #FCFCFC;*/
    /*border: ridge 1px #f0f0f0;*/
}

.redes {
    border: ridge 1px rgba(255, 202, 204, 0.39);
    border-radius: 0px 5px 5px 0px;
    width: 55px;
    position: fixed;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}

.borde-red {
    border: ridge 1px red;
}

.borde-green {
    border: ridge 2px green;
}

.body_mezzanine {
    background: #FFFFFF !important;*/
    /*background-image: linear-gradient(to bottom, #FFFFFF 0%, #f5f5f5 100%);*/
}

.texto_enlace {
    color: #d11e22;
}

.panel1 {
    max-width: 500px !important;
}

/*
.row {
    border: ridge 1px yellow;
}

.col-sm-6 {
    border: ridge 1px green;
}

.col-sm-3 {
    border: ridge 1px brown;
}
*/

/* For desktop: */

.col-sm-2 {
    width: 30%;
    /*border: ridge 1px red;*/
}

.col-sm-4 {
    width: 33%;
    /*border: ridge 1px blue;*/
    margin-top: 10px;
}

.col-sm-3 {
    width: 33%;
    /*border: ridge 1px red;*/
}
.col-sm-6 {
    width: 66%;
    /*border: ridge 1px blue;*/
}

.col-sm-7 {
    width: 50%;
    /*border: ridge 1px red;*/
}

.col-sm-10 {
    width: 50%;
}

.btn-danger {
    background-image: -webkit-linear-gradient(top, #d11e22 0%, #d11e22 100%);
    background-image: -o-linear-gradient(top, #d11e22 0%, #d11e22 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d11e22), to(#d11e22));
    background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d11e22', endColorstr='#d11e22', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #b92c28;
}

.font-navbar-menu {
    font-weight: bold;
}

.font-title-block {
    font-weight: bold;
}

.img_recent_post {
    /*border: ridge 1px blue;*/
    width: 17%;
    float: left;
    /*margin-right: 10px;*/
}

.img_recent_post_img {
    /*border: ridge 1px blue;*/
}

.title_recent_post_right {
    /*border: ridge 1px red;*/
    width: 83%;
    float: right;
    padding: 5px;
}

.title_post_carousel {
    color: #d11e22;
    font-weight: bold;
    font-size: 16px;
    /*border: ridge 1px lime;*/
}

.text_description {
    text-align: justify;
    color: #000000;
}

.xxxx {
    border: ridge 1px blue;
}

.row-panel {
    border: ridge 1px blue;
}

.glyphicon-plus-sign {
}

.date_recent_post {
    /*border: ridge 1px green;*/
    font-weight: bold;
    font-size: 12px;
    opacity: 0.7;
}

.history {
    display: none;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 10px 0;
}

.cuerpo_interno {
    /*border: ridge 1px green;*/
    margin-left: 25px;
    margin-right: 25px;
}

.font_meses_history {
    font-size: 13px;
}

p {
    margin-bottom: 20px !important;
}

.ver_mas_noticias {
    width: 600px;
}

.date_post_list {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
    opacity: 0.7;
}

.text_description_blog_post_list {
    text-align: justify;
    /*border: ridge 1px red;*/
}

.dosmilquince {
    /*display: none;*/
    padding: 15px;
}

.dosmilcatorce {
    /*display: none;*/
    padding: 15px;
}

.dosmiltrece {
    /*display: none;*/
    padding: 15px;
}

.dosmildoce {
    /*display: none;*/
    padding: 15px;
}

.dosmilonce {
    /*display: none;*/
    padding: 15px;
}

.dosmildiez {
    /*display: none;*/
    padding: 15px;
}

.dosmilnueve {
    /*display: none;*/
    padding: 15px;
}

.dosmilocho {
    /*display: none;*/
    padding: 15px;
}

.dosmilsiete {
    /*display: none;*/
    padding: 15px;
}

.dosmilseis {
    /*display: none;*/
    padding: 15px;
}

.dosmilcinco {
    /*display: none;*/
    padding: 15px;
}

.dosmilcuatro {
    /*display: none;*/
    padding: 15px;
}

.milnovecientossetentayuno {
    /*display: none;*/
    padding: 15px;
}

.milnovecientossesentaydos {
    /*display: none;*/
    padding: 15px;
}

.boton-anios-galeria {
    /*padding: 15px;*/
    font-size: 18px;
}

.well-sm {
    background: #F2F2F2;
}

.portadas_libros {
    -webkit-box-shadow: 11px 10px 3px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 3px -3px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 3px -3px rgba(0,0,0,0.75);
    border: ridge 1px #000000;
}

.portadas_libros:hover {
  height: 290px;
  width: 220px;
  -webkit-box-shadow: 11px 10px 3px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 10px 3px -3px rgba(0,0,0,0.75);
  box-shadow: 11px 10px 3px -3px rgba(0,0,0,0.75);
  border: ridge 1px #000000;
}

.frase_destacada {
  border-left: ridge 6px red;
  /*border-right: ridge 5px red;*/
  /*border: ridge 1px blue;*/
  width: 100%;
  padding-left: 10px;
  font-style: italic;
  font-size: 18px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  color: #8d0000;
}

.form-group > input[type="text"] {
    width: 120%;
}

.well-search-form {
    /*background: #ffffff;*/
}

.panel-body-search-form {
    /*border: ridge 1px blue;*/
    margin-bottom: 10px;
    height: 85px;
    border-radius: 5px;
}

.container_search_form {
    /*border: ridge 1px blue;*/
}

.navbar-form.navbar-right .form-group {
    margin-right: 56px;
    margin-left: 0px !important;
}

.group-items-list {
    width: 32%;
    /*padding: 5%;
    clear: none;*/
    border: ridge 1px lightgray;
    /*padding: 25px;*/
    /*display: block;
    margin: 10px;*/
    /*min-width: 150px;*/
    display: inline-block;
}

.date_year_title {
    /*border: ridge 1px blue;*/
}

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoInstagram:hover {
    background-color:#FF7558;
}
.social-network a.icoPaper-plane:hover {
    background-color:#353FFF;
}
.social-network a.icoYoutube:hover {
    background-color:#d11e22;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i, .social-network a.icoPaper-plane:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-icon-back {
    background-color: #D3D3D3;
}

.navbar-social {
    padding-top: 20px;
}

.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.go-top:hover {
    background-color: #d11e22;
}

.right_panel {
    border: ridge 1px red;
}

.al_dia_blogpost_list {
    background: lightgray;
    padding: 8px;
    border-radius: 5px;
}

.texto_convite {
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    img {
        /*width: 100%;*/
    }

    .img_recent_post {
        /*border: ridge 1px blue;*/
        width: 100%;
    }

    .date_recent_post {
        /*border: ridge 1px green;*/
        font-weight: bold;
        font-size: 12px;
        opacity: 0.7;
        margin-left: -30px;
    }

    .title_post_carousel {
        /*color: #d11e22;
        font-weight: bold;*/
        font-size: 12px;
        /*border: ridge 1px red;*/
        width: 100%;
        /*margin-left: 0px !important;*/
        margin-left: -40px;
    }
    .text_description {
        font-size: 10px;
        /*border: ridge 1px green;*/
        width: 100%;
        margin-top: 210px !important;
    }

    .img_recent_post_img {
        /*margin: 0px auto;
        margin-left: 130px !important;*/
    }

    .logo_gobierno {
        width: 100%;
    }

    .texto_carousel {
        font-size: 10px !important;
    }

    .navbar-cintillo {
        /*background: red;*/
    }

    .cintillo_up {
        /*border: ridge 1px red;*/
        margin-top: 10px;
        margin-left: -120px !important;
        margin-right: -120px !important;
        /*width: 100%;*/
        height: 35px;
    }

    .texto_enlace {
        font-size: 10px;
    }
    .redes {
        /*border: ridge 1px red;*/
        /*border-radius: 0px 5px 5px 0px;*/
        border: ridge 1px #ffffff;
        width: 100%;
        position: relative;
        margin-top: -55px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        /*background-color: #FFFFFF;*/
        display: inline-flex;
    }
    .redes a img {
        /*border: ridge 1px blue;*/
        width: 15px;
    }
    .redes a {
        width: 10%;
        margin: auto;
    }

    .panel-body-search-form {
        /*border: ridge 1px red;*/
        margin-bottom: 10px;
        height: 125px;
        border-radius: 5px;
    }
}