{% load blog_tags keyword_tags mezzanine_tags i18n %}

<!--
{% block blog_recent_posts %}
{% blog_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<h3>{% trans "Recent Posts" %}</h3>
<ul class="list-unstyled recent-posts">
{% for recent_post in recent_posts %}
<li>
    {% spaceless %}
    <a href="{{ recent_post.get_absolute_url }}">
        {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
        <img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 24 24 %}">
        {% endif %}
    {{ recent_post.title }}
    </a>
    {% endspaceless %}
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
-->

<!--button type="button" class="show_history">Ver histórico</button-->
<button type="button" class="btn btn-danger show_history">Histórico de Noticias</button>

<br />
<br />

<div class="well history">

    {% block blog_months %}
    {% blog_months as months %}
    {% if months %}
    <!--h3>Histórico de Noticias</h3-->
    {% for month in months %}
        {% ifchanged month.date.year %}
            {% if not forloop.first %}</ul></div>{% endif %}
            <div class="group-items-list well"><h2 class="date_year_title">{{ month.date.year }}</h2><ul class="list-unstyled">
        {% endifchanged %}
        <li class="font_meses_history">
            <a href="{% url "blog_post_list_month" year=month.date.year month=month.date.month %}"
            >{{ month.date|date:"F" }}
            </a>({{ month.post_count }})
        </li>
    {% endfor %}

    {% endif %}
    {% endblock %}

    {% block blog_categories %}
    {% blog_categories as categories %}
    {% if categories %}
    <h3>{% trans "Categories" %}</h3>
    <ul class="list-unstyled">
    {% for category in categories %}
    <li><a href="{% url "blog_post_list_category" category.slug %}"
        >{{ category }}</a> ({{ category.post_count }})</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}

    {% block blog_keywords %}
    {% keywords_for blog.blogpost as tags %}
    {% if tags %}
    <h3>{% trans "Tags" %}</h3>
    <ul class="list-inline tag-cloud">
    {% for tag in tags %}
    <li>
        <a href="{% url "blog_post_list_tag" tag.slug %}"
            class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
        ({{ tag.item_count }})
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}

    {% block blog_authors %}
    {% blog_authors as authors %}
    
    {% if authors %}
    <h3>Autores</h3>
    <ul class="list-unstyled">
    {% for author in authors %}
        <li><a href="{% url "blog_post_list_author" author.username %}"
            >{{ author.get_full_name|default:author.username }}</a>
            ({{ author.post_count }})</li>
    {% endfor %}
    </ul>
    {% endif %}
    
    {% endblock %}

    <!--
    {% block blog_feeds %}
    <h3>{% trans "Feeds" %}</h3>
    {% if tag %}
        <a href="{% url "blog_post_feed_tag" tag.slug "rss" %}">{% trans "RSS" %}</a> /
        <a href="{% url "blog_post_feed_tag" tag.slug "atom" %}">{% trans "Atom" %}</a>
    {% endif %}
    {% if category %}
        <a href="{% url "blog_post_feed_category" category.slug "rss" %}">{% trans "RSS" %}</a> /
        <a href="{% url "blog_post_feed_category" category.slug "atom" %}">{% trans "Atom" %}</a>
    {% endif %}
    {% if author %}
        <a href="{% url "blog_post_feed_author" author.username "rss" %}">{% trans "RSS" %}</a> /
        <a href="{% url "blog_post_feed_author" author.username "atom" %}">{% trans "Atom" %}</a>
    {% endif %}
    {% if not tag and not category and not author %}
        <a href="{% url "blog_post_feed" "rss" %}">{% trans "RSS" %}</a> /
        <a href="{% url "blog_post_feed" "atom" %}">{% trans "Atom" %}</a>
    {% endif %}
    {% endblock %}
    -->

</div>

<script type="text/javascript">
    $( ".show_history" ).click(function() {
      $( ".history" ).toggle( "slow" );
    });
</script>