<!-- Cabecera
================================================== -->
<a href="/">
  <img class="imagen_cabecera_cenditel" src="{{STATIC_URL}}media/imagenes/cabecera.png"></img>
</a>
<!-- Cabecera end -->