<!-- Carousel 2
================================================== -->
<div class="carousel_cuerpo">
  <div class="carousel_container">
    <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="http://2cvte.abae.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/imagenes/congreso.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://www.vicepresidenciasocial.gob.ve/index.php?option=com_content&view=article&id=4742:gran-mision-abastecimiento-soberano-y-seguro-conoce-sus-vertices&catid=8:noticias&Itemid=471" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/imagenes/mision_alimentacion.png" width="310px" height="125px"></img>
            </div>
          </a>          
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<!-- Carousel end -->