<!-- Carousel Proyectos
================================================== -->
<div class="carousel_cuerpo">
  <div class="carousel_container">
    <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="http://apropiacion.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/apropiacion_2.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://safo.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/SAFO_1.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://caribay.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/Caribay_1.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://convite.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/clic_1.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://cumaco.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/Cumaco_1.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://hapa.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/HAPA_1.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://hl.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/HardwareLibre_1.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="https://mpv.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/Mapa_Productivo_1.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://mayaguaray.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/Mayaguaray_1.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://planificacion.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/planificacion_1.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://redpatria.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/redpatria_1.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://tibisay.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/tibisay_2.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://yojama.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/yojama_1.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="http://conocimientolibre.cenditel.gob.ve/" target="_blank">
            <div align="center">
              <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/Conocimiento_Libre_1.png" width="310px" height="125px"></img>
            </div>
          </a>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic3" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic3" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<!-- Carousel Proyectos end -->