<div class="row">
  
  <!-- Columna Central
  ================================================== -->
  <div class="col-sm-6">
    
    <!-- Carousel
    ================================================== -->
    <div class="carousel_principal_cuerpo">
      <div class="carousel_container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <a href="http://planificacion.cenditel.gob.ve/" target="_blank">
                <img class="" src="{{STATIC_URL}}media/imagenes/imagenes_carousel/1_carousel_sipes.png">
                  <div align="center">
                    <span class="texto_carousel">
                      Sistema Integral de Planificación Estratégica Situacional (SIPES-APN)
                    </span>
                  </div>
                </img>
              </a>
            </div>
            <div class="item">
              <a href="http://seguridad.cenditel.gob.ve/2016/10/26/terepaima/" target="_blank">
                <img class="" src="{{STATIC_URL}}media/imagenes/imagenes_carousel/2_carousel_terepaima.png">
                  <div align="center">
                    <span class="texto_carousel">
                      Terepaima, visor PDF para verificar la firma electrónica
                    </span>
                  </div>
                </img>
              </a>
            </div>
            <div class="item">
              <a href="http://mpv.cenditel.gob.ve/2016/12/15/xamu-software-libre-para-el-manejo-de-matrices-de-contabilidad-social/" target="_blank">
                <img class="" src="{{STATIC_URL}}media/imagenes/imagenes_carousel/3_carousel_xamu.png">
                  <div align="center">
                    <span class="texto_carousel">
                      Xamú: Software Libre para el Manejo de Matrices de Contabilidad Social
                    </span>
                  </div>
                </img>
              </a>
            </div>
            <div class="item">
              <a href="http://cumaco.cenditel.gob.ve/" target="_blank">
                <img class="" src="{{STATIC_URL}}media/imagenes/imagenes_carousel/4_carousel_tda.png">
                  <div align="center">
                    <span class="texto_carousel">
                      Cumaco Televisión Digital Abierta
                    </span>
                  </div>
                </img>
              </a>
            </div>
            <div class="item">
              <a href="http://convite.cenditel.gob.ve/" target="_blank">
                <img class="" src="{{STATIC_URL}}media/imagenes/imagenes_carousel/5_carousel_convite.png">
                  <div align="center">
                    <span class="texto_carousel">
                      Proyecto CONVITE: Liberando el conocimiento para la construcción del bien público.
                    </span>
                  </div>
                </img>
              </a>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div><!-- Carousel end -->

    <br />

      {% load blog_tags keyword_tags mezzanine_tags i18n %}
      {% block blog_recent_posts %}
      {% blog_recent_posts 5 as recent_posts %}
      {% if recent_posts %}
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title font-title-block"><img src="{{STATIC_URL}}media/iconos/cenditel_layout.png" width="50px">&nbsp;Al día</img></h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled recent-posts">
          {% for recent_post in recent_posts %}
          <li>
            {% spaceless %}
              <div class="img_recent_post" align="left">
                {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
                  <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 100 100 %}">
                {% endif %}
              </div>
              <div class="title_recent_post_right">
                <span class="date_recent_post">{{ recent_post.publish_date }}</span>
                <div class="title_post_carousel">
                  <a href="{{ recent_post.get_absolute_url }}" class="list-group-item-text">
                    {{ recent_post.title }}
                  </a>
                </div>
              </div>
              <br />
              <br />
              <div class="text_description">
                {{ recent_post.description }}
                <br />
                <br />
                <a href="{{ recent_post.get_absolute_url }}" class="list-group-item-text">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  Leer más...
                </a>
              </div>
              <hr>
            {% endspaceless %}
          </li>
          {% endfor %}
          </ul>
          {% endif %}
          {% endblock %}
          <div align="right">
            <a href="/blog">
              <span class="glyphicon glyphicon-chevron-right"></span> Ver más noticias...
            </a>
          </div>
        </div>
      </div>    
      
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title font-title-block"><img src="{{STATIC_URL}}media/iconos/cenditel_layout.png" width="50px">&nbsp;Reflexiones, Ciencia y Tecnología</img></h3>
        </div>
        <div class="panel-body">
          <a href="http://conocimientolibre.cenditel.gob.ve/2016/08/01/el-conocimiento-y-las-tecnologias-libres-como-motores-de-una-economia-productiva/" class="list-group-item" target="_blank">
            <img class="" src="{{STATIC_URL}}media/imagenes/miniatura1.png" width="50px" height="50px"></img>&nbsp;
            <span class="texto_enlace">El Conocimiento y las Tecnologías Libres como motores de una economía productiva</span>
          </a>
          <a href="http://conocimientolibre.cenditel.gob.ve/2016/09/29/economia-del-conocimiento-concepto-en-debate/" class="list-group-item" target="_blank">
            <img class="" src="{{STATIC_URL}}media/imagenes/miniatura2.png" width="50px" height="50px"></img>&nbsp;
            <span class="texto_enlace">Economía del Conocimiento ¿Concepto en debate?</span>
          </a>
          <a href="http://conocimientolibre.cenditel.gob.ve/2016/08/30/enajenacion-de-la-nocion-de-bien-comun/" class="list-group-item" target="_blank">
            <img class="" src="{{STATIC_URL}}media/imagenes/miniatura.jpeg" width="50px" height="50px"></img>&nbsp;
            <span class="texto_enlace">Enajenación de la noción de bien común</span>
          </a>
        </div>
      </div>

      <!--div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><img src="{{STATIC_URL}}media/iconos/cenditel_layout.png" width="50px">&nbsp;Articulos</img></h3>
        </div>
        <div class="panel-body">
          <a href="http://seguridad.cenditel.gob.ve/2016/10/26/terepaima/" class="list-group-item">
            <img class="" src="{{STATIC_URL}}media/imagenes/miniatura.jpeg" width="50px" height="50px"></img>&nbsp;
            <span class="texto_enlace">Terepaima – Visor PDF</span>
          </a>
          <a href="http://planificacion.cenditel.gob.ve/2016/09/12/planificacion-estrategica-situacional-hacia-la-planificacion-revolucionaria/" class="list-group-item">
            <img class="" src="{{STATIC_URL}}media/imagenes/miniatura.jpeg" width="50px" height="50px"></img>&nbsp;
            <span class="texto_enlace">Planificación Estratégica Situacional Hacia la Planificación Revolucionaria</span>
          </a>
          <a href="http://cumaco.cenditel.gob.ve/2016/08/12/tda-interactiva-en-venezuela/" class="list-group-item">
            <img class="" src="{{STATIC_URL}}media/imagenes/miniatura.jpeg" width="50px" height="50px"></img>&nbsp;          
            <span class="texto_enlace">TDA Interactiva en Venezuela</span>
          </a>
        </div>
      </div-->
      
  </div><!-- Final Columna Central -->

  <!-- Columna Derecha
  ================================================== -->
  <div class="col-sm-3 right">

    <div class="well well-search-form panel-body-search-form">
      {% block navbar_search_form %}{% search_form "all" %}{% endblock %}
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title font-title-block"><img src="{{STATIC_URL}}media/iconos/cenditel_layout.png" width="50px">&nbsp;Proyectos</img></h3>
      </div>
      <div class="panel-body">
        {% include "includes/carousel_proyectos.html" %}
      </div>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title font-title-block"><img src="{{STATIC_URL}}media/iconos/cenditel_layout.png" width="50px">&nbsp;@CENDITEL</img></h3>
      </div>
      <div class="panel-body">
        <a class="twitter-timeline" data-width="500" data-height="350" href="https://twitter.com/CENDITEL">Tweets de CENDITEL</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title font-title-block"><img src="{{STATIC_URL}}media/iconos/cenditel_layout.png" width="50px">&nbsp;@Mppeuct</img></h3>
      </div>
      <div class="panel-body">
        <a class="twitter-timeline" data-width="500" data-height="350" href="https://twitter.com/Mppeuct">Tweets de CENDITEL</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title font-title-block"><img src="{{STATIC_URL}}media/iconos/cenditel_layout.png" width="50px">&nbsp;Información de Interés</img></h3>
      </div>
      <div class="panel-body">
        <a href="/blog/cenditel-busca-profesionales/">
          <div align="center">
            <img class="img-responsive" src="{{STATIC_URL}}media/botones/botones_proyectos/R_Profesionales_1.png" width="310px" height="125px"></img>
          </div>
        </a>
        <br />
        <a href="/la-sociedad-del-talento-cmdte-hugo-chávez-frías-10-de-noviembre-de-2006/">
          <div align="center">
            <img class="img-responsive" src="{{STATIC_URL}}media/imagenes/Ch_Boton_2.png" width="310px" height="125px"></img>
          </div>
        </a>
        <br />
        {% include "includes/carousel_2.html" %}
      </div>
    </div>

    <div class="panel panel-danger panel-danger-contenidos-digitales">
      <div class="panel-heading">
        <h3 class="panel-title font-title-block"><img src="{{STATIC_URL}}media/iconos/cenditel_layout.png" width="50px">&nbsp;Contenidos Digitales</img></h3>
      </div>
      <div class="panel-body">
        <a href="/publicaciones" class="list-group-item">
          <img class="cintillo" src="{{STATIC_URL}}media/iconos/biblioteca.png" width="20px"></img>
          <span class="texto_enlace">&nbsp;Publicaciones</span>
        </a>
        <a href="/videos" class="list-group-item">
          <img class="cintillo" src="{{STATIC_URL}}media/iconos/videoteca.png" width="20px"></img>
          <span class="texto_enlace">&nbsp;Videoteca</span>
        </a>
        <a href="/galeria-de-imagenes/" class="list-group-item">
          <img class="cintillo" src="{{STATIC_URL}}media/iconos/galeria.png" width="20px"></img>
          <span class="texto_enlace">&nbsp;Galería</span>
        </a>
      </div>
    </div>
  
  </div><!-- Final Columna Derecha -->

</div>
