<!-- Enlaces - footer
================================================== -->
<div class="jumbotron enlaces_interes">  

  <div class="row">
    <!-- Left Column
    ================================================== -->
    <div class="col-sm-2">
      <a href="http://www.mppeuct.gob.ve/" target="_blank">
        <img class="logo_gobierno" src="{{STATIC_URL}}media/iconos/logo_gobierno.png" width="70%"></img>
      </a>
    </div>
    <!-- End Left Column -->

    <!-- Center Column
    ================================================== -->
    <div class="col-sm-4">
        <b>MPPEUCT</b> <br />
        <hr>
        
        <a href="http://www.mppeuct.gob.ve/ministerio/ieu" target="_blank"><span class="glyphicon glyphicon-link"></span> Instituciones de Educación Universitaria</a> <br />
        <a href="http://www.mppeuct.gob.ve/ministerio/directorio/entes-adscritos" target="_blank"><span class="glyphicon glyphicon-link"></span> Entes adscritos</a> <br />
        <a href="http://www.mppeuct.gob.ve/ministerio/directorio/unidades-territoriales" target="_blank"><span class="glyphicon glyphicon-link"></span> Unidades territoriales </a>
    </div>
    <!-- End Center Column -->

    <!-- Right Column
    ================================================== -->
    <div class="col-sm-4">
        <b>GOBIERNO BOLIVARIANO</b> <br />
        <hr>        
        <a href="http://www.presidencia.gob.ve/" target="_blank"><span class="glyphicon glyphicon-link"></span> Presidencia de la República</a> <br />
        <a href="http://www.vicepresidencia.gob.ve/" target="_blank"><span class="glyphicon glyphicon-link"></span> Vicepresidencia de la República</a> <br />
        <a href="http://vicepresidenciasocial.gob.ve/" target="_blank"><span class="glyphicon glyphicon-link"></span> Vicepresidencia Social</a> <br />
        <a href="http://gobiernoenlinea.gob.ve/" target="_blank"><span class="glyphicon glyphicon-link"></span> Gobierno en línea</a>
    </div><!-- End Right Column -->

  </div>
  
</div>
<!-- Enlaces - footer end -->