<a class="go-top" href="#">
  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
</a>

<!-- Footer
================================================== -->
<div class="well" align="center">
  <b>
    <p>Fundación Centro Nacional de Desarrollo e Investigación en Tecnologías Libres (CENDITEL) <br />
    Avenida Alberto Carnevali, vía La Hechicera, Edificio CENDITEL. Teléfono (0274)2451044 - 6574336 <br />
    Apartado Postal: 078. Código Postal 5101A. RIF: G-20007349-7. Mérida-Venezuela</p>
  </b>
</div>
<!-- Footer end -->
