<!-- navbar cintillo
================================================== -->
<nav class="navbar navbar-default navbar-fixed-top navbar-cintillo">
<div class="container">
  <div align="center">
    <img class="cintillo_up" src="{{STATIC_URL}}media/imagenes/cintillo.png" width="100%"></img>
  </div>
</div>
</nav>
<!-- navbar cintillo end -->