<!-- Redes Sociales fixed
================================================== -->
<div class="redes">
  <a href="https://twitter.com/CENDITEL" target="_blank">
    <img src="{{STATIC_URL}}media/iconos/twitter_1.png" onmouseover="this.src='{{STATIC_URL}}media/iconos/twitter_2.png' " onmouseout="this.src='{{STATIC_URL}}media/iconos/twitter_1.png' " width="30px"/>
  </a>
  <br />
  <br />
  <a href="https://www.facebook.com/CENDITEL-24448680166/" target="_blank">
    <img src="{{STATIC_URL}}media/iconos/facebook_1.png" onmouseover="this.src='{{STATIC_URL}}media/iconos/facebook_2.png' " onmouseout="this.src='{{STATIC_URL}}media/iconos/facebook_1.png' " width="30px"/>
  </a>
  <br />
  <br />
  <a href="https://www.youtube.com/channel/UChGZj0mKie63iZ0ls2ktdmA" target="_blank">
    <img src="{{STATIC_URL}}media/iconos/youtube.jpeg" onmouseover="this.src='{{STATIC_URL}}media/iconos/youtube_2.jpeg' " onmouseout="this.src='{{STATIC_URL}}media/iconos/youtube.jpeg' " width="30px"/>
  </a>
  <br />
  <br />
  <a href="https://www.instagram.com/cenditel.oficial/?hl=es" target="_blank">
    <img src="{{STATIC_URL}}media/iconos/instagram.jpeg" onmouseover="this.src='{{STATIC_URL}}media/iconos/instagram_2.jpeg' " onmouseout="this.src='{{STATIC_URL}}media/iconos/instagram.jpeg' " width="30px"/>
  </a>
  <br />
  <br />
  <a href="https://t.me/ContenidosCenditel" target="_blank">
    <img src="{{STATIC_URL}}media/iconos/telegram.jpeg" onmouseover="this.src='{{STATIC_URL}}media/iconos/telegram_2.jpeg' " onmouseout="this.src='{{STATIC_URL}}media/iconos/telegram.jpeg' " width="30px"/>
  </a>
</div>

<!--div class="container">
  <div class="" align="center">
    <ul class="social-network social-circle">
      <li><a href="https://twitter.com/CENDITEL" target="_blank" class="icoTwitter social-icon-back" title="Twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.facebook.com/CENDITEL-24448680166/" target="_blank" class="icoFacebook social-icon-back" title="Facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/cenditel.oficial/?hl=es" target="_blank" class="icoInstagram social-icon-back" title="Instagram"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://www.youtube.com/channel/UChGZj0mKie63iZ0ls2ktdmA" target="_blank" target="_blank" class="icoYoutube social-icon-back" title="Youtube"><i class="fa fa-youtube"></i></a></li>
      <li><a href="https://t.me/ContenidosCenditel" target="_blank" class="icoPaper-plane social-icon-back" title="Telegram"><i class="fa fa-paper-plane"></i></a></li>
    </ul>
  </div>
</div-->
<br />