{% load mezzanine_tags i18n %}
<form action="{% url "search" %}" class="navbar-form navbar-right container_search_form" role="search">
    <div class="form-group">
        <input class="form-control" placeholder="{% trans "Search" %}" type="text" name="q" value="{{ request.REQUEST.q }}">
    </div>
    {% if search_model_choices %}
        {% if search_model_choices|length == 1 %}
        <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
        {% else %}
        {% endif %}
    {% endif %}
    <button type="submit" class="glyphicon glyphicon-search boton_search"></button>
</form>