<!-- Slick
================================================== -->
<section class="regular slider">
    <div>
      <a href="http://apropiacion.cenditel.gob.ve/" target="_blank">
        <img src="{{STATIC_URL}}media/botones/apropiacion1.png" onmouseover="this.src='{{STATIC_URL}}media/botones/apropiacion2.png' " onmouseout="this.src='{{STATIC_URL}}media/botones/apropiacion1.png' " width="200px"/>
      </a>
    </div>
    <div>
      <a href="http://convite.cenditel.gob.ve/" target="_blank">
        <img src="{{STATIC_URL}}media/botones/convite1.png" onmouseover="this.src='{{STATIC_URL}}media/botones/convite2.png' " onmouseout="this.src='{{STATIC_URL}}media/botones/convite1.png' " width="200px"/>
      </a>
    </div>
    <div>
      <a href="http://cumaco.cenditel.gob.ve/" target="_blank">
        <img src="{{STATIC_URL}}media/botones/cumaco1.png" onmouseover="this.src='{{STATIC_URL}}media/botones/cumaco2.png' " onmouseout="this.src='{{STATIC_URL}}media/botones/cumaco1.png' " width="200px"/>
      </a>
    </div>
    <div>
      <a href="http://hl.cenditel.gob.ve/" target="_blank">
        <img src="{{STATIC_URL}}media/botones/hadwareLibre1.png" onmouseover="this.src='{{STATIC_URL}}media/botones/hadwareLibre2.png' " onmouseout="this.src='{{STATIC_URL}}media/botones/hadwareLibre1.png' " width="200px"/>
      </a>
    </div>
    <div>
      <a href="https://mpv.cenditel.gob.ve/" target="_blank">
        <img src="{{STATIC_URL}}media/botones/mapa1.png" onmouseover="this.src='{{STATIC_URL}}media/botones/mapa2.png' " onmouseout="this.src='{{STATIC_URL}}media/botones/mapa1.png' " width="200px"/>
      </a>
    </div>
    <div>
      <a href="http://planificacion.cenditel.gob.ve/" target="_blank">
        <img src="{{STATIC_URL}}media/botones/planificacion1.png" onmouseover="this.src='{{STATIC_URL}}media/botones/planificacion2.png' " onmouseout="this.src='{{STATIC_URL}}media/botones/planificacion1.png' " width="200px"/>
      </a>
    </div>
    <div>
      <a href="http://redpatria.cenditel.gob.ve/" target="_blank">
        <img src="{{STATIC_URL}}media/botones/redpatria1.png" onmouseover="this.src='{{STATIC_URL}}media/botones/redpatria2.png' " onmouseout="this.src='{{STATIC_URL}}media/botones/redpatria1.png' " width="200px"/>
      </a>
    </div>
    <div>
      <a href="http://tibisay.cenditel.gob.ve/" target="_blank">
        <img src="{{STATIC_URL}}media/botones/tibisay1.png" onmouseover="this.src='{{STATIC_URL}}media/botones/tibisay2.png' " onmouseout="this.src='{{STATIC_URL}}media/botones/tibisay1.png' " width="200px"/>
      </a>
    </div>
    <div>
      <a href="http://yojama.cenditel.gob.ve/" target="_blank">
        <img src="{{STATIC_URL}}media/botones/yojama1.png" onmouseover="this.src='{{STATIC_URL}}media/botones/yojama2.png' " onmouseout="this.src='{{STATIC_URL}}media/botones/yojama1.png' " width="200px"/>
      </a>
    </div>
  </section>
  
  <script type="text/javascript">
  $(document).on('ready', function() {
    $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 4,
        autoplay: true
      });
    });      
  </script>
  <!-- Slick end -->